body {
	margin-left: 20%;
	margin-right: 20%;

}
p {
	font-size: 1em;
}
#circle {
	width:20em;
	height:20em;
	border-radius: 50%;
	background:red;
}
.btn {
	border-color: black;
}
#cover {
	position: relative;
	width:20em;
	height:20em;
	top:-20em;
	background:white;
}
